@import "tailwindcss";
@plugin "daisyui" {
  themes: dim --default
}
 @font-face {
  font-family: 'Outfit';
  font-style: bold;
  src: url('/assets/fonts/Outfit-Regular.ttf') format('truetype');
}
@theme {
  --font-outfit: "OutFit";
}

@theme {
  --animate-fadeIn: fadeIn 0.3s ease-in-out;
  @keyframes fadeIn {
    0%
    {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
